# You can find documentation for all the supported env variables at https://docs.immich.app/install/environment-variables
UPLOAD_LOCATION=/data/media/disk0/images
DB_DATA_LOCATION=/data/immich
TZ=Europe/Warsaw
IMMICH_VERSION=v2
DB_PASSWORD=change_me_to_a_random_password
DB_USERNAME=immich
DB_DATABASE_NAME=immich
